.container {
    font-size: 20px;
    border-radius: 2em;
    border: none;
    outline: 0;
    padding: .8em 1em .8em 1em;
    cursor: pointer;
    color: var(--black);
    font-family: var(--rubik);
    box-shadow: var(--shadow);
}