.container {
    display: flex;
    font-size: 40px;
    color: var(--pink);
    width: 50%;
    margin: auto;
}

.icon {
    flex: 1;
    color: var(--pink);
}

.link:visited, .link:active {
    color: var(--pink);
}